name: "Terraform AWS Workflow"
on:
  push:
    branches:
      - master
  pull_request:
    

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY_ID: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.2

      - name: Terraform Format
        id: fmt 
        run: terraform fmt -check

      - name: Terraform Init 
        id: init 
        run: terraform init 

      - name: Terraform Plan 
        id: plan 
        if: github.event_name == 'push'
        run: terraform plan 

      - name: Terraform Apply 
        if: github.event_name == 'push'
        run: terraform apply -auto-approve